@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@200;500&family=Raleway:wght@200;500&display=swap');


body {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    background: grey;
}
.home {
    height: 30px;
    background: white;
}
.aaa {
    width: 700px;
}
h3 {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}
li {
    color: aliceblue;
}
a {
    color: white;
    text-decoration: dotted underline;
    cursor: crosshair;
}
h1 {
    color: aquamarine;
}
table, td, th {
    border: 1px solid black;
}
th {
    background-color: blueviolet;
}
.img2 {
    width: 10px;
}
table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}
